{
  "presets": ["react", ["env", { "modules": false }]],
  "plugins": ["react-hot-loader/babel", "babel-plugin-transform-object-rest-spread", "transform-class-properties"],
  "env": {
    "test": {
      "presets": ["react", ["env", { "modules": "commonjs" }]],
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
