.AssetDetails {
  padding: 5px 40px;
}

.AssetDetails__row{
  height: 48px;
  margin: 10px 0;
  font-size: 12px;
  line-height: 1.5;
}

.AssetDetails__title {
  color: #908e8f;
}

.AssetDetails__value {
  color: #ffffff;
}
