<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome to Mux</h2>
  <p>Here's an ember app with Mux Player</p>
  <mux-player
    stream-type="on-demand"
    playback-id="FuJSYrK0014ec2LPnm11bzC2MAySAQPqA"
    metadata-video-title="Tea and Cookies"
    metadata-viewer-user-id="user-id-007"
  ></mux-player>
</div>
